@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
h1 {
  @apply text-4xl font-bold m-4;
}
h2 {
  @apply text-3xl font-bold m-4;
}
h3 {
  @apply text-2xl font-bold m-4;
}
h4 {
  @apply text-xl font-bold m-4;
}
p {
  @apply text-lg m-4 font-sans;
}
ul {
  @apply list-disc list-inside m-4;
}
li {
  @apply m-4 ;
}
table {
  @apply m-4 table-auto;
}
th {
  @apply bg-gray-200 border border-gray-400 p-2;
}
td {
  @apply border border-gray-400 p-2;
}
a {
  @apply text-blue-500 underline;
}
blockquote {
  @apply border-l-4 border-orange-500 p-4 m-4;
}
p img {
  @apply scale-75;
}